<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/jiji_logo.png">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/carousel-style.css">
    <link rel="stylesheet" href="/css/cart_styles.css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" /> -->
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title><%= title %> | Free Classifieds in Ghana</title>
    <style>
        .become_fixed{
            position: fixed;
            top: 70px;
            left: 8%;
            height: 36rem;
            width: 21rem;
            z-index: 70;
        }
    </style>
</head>